@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    /* Text colors */
    --verydarkDesnaturedb: hsl(238, 29%, 16%);
    --softRed: hsl(14, 88%, 65%);
    /* Text colors 2 */
    --verydarkGravishb: hsl(237, 12%, 33%);
    --darkgravishBlue: hsl(240, 6%, 50%);
    /* Dividers */
    --lightgravishBlue: hsl(240, 5%, 91%);
}